/target/                 
**/target/
/runtime/*.o             
/runtime/*.a

# ---- VS Code ----
.vscode/
*.code-workspace

# ---- macOS
.DS_Store

# ---- Temp
*.tmp
*.swp

# ---- My Simple Stuff
test/
tests/*.s
tests/*.run