boa/target/                 
**/target/
boa/runtime/*.o             
boa/runtime/*.a

# ---- VS Code ----
.vscode/
*.code-workspace

# ---- macOS
.DS_Store

# ---- Temp
*.tmp
*.swp

# ---- My Simple Stuff
boa/.cargo
boa/test/
boa/tests/*.s
boa/tests/*.run